<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
  <div class="flash-container">
    <div class="container pt-4 pb-4">
      <% include ../partials/flash %>
    </div>
  </div>
  <div class="container">
    <%- body %>
  </div>
  <% include ../partials/footer %>
</body>
</html>